<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid align-content-center"> <h1 class="display-6">Customer Details</h1> </div>
<div class="container-lg">
    <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Customer ID</p>
              </div>
              <div class="col-sm-9">
                <p class="text-primary mb-0"><%= customer.customerid %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Customer First Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-primary mb-0"><%= customer.customerFirstName %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Customer Last Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-primary mb-0"><%= customer.customerLastName %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Gender</p>
              </div>
              <div class="col-sm-9">
                <p class="text-primary mb-0"><%= customer.gender %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Age</p>
              </div>
              <div class="col-sm-9">
                <p class="text-primary mb-0"><%= customer.age %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Franchise Location</p>
              </div>
              <div class="col-sm-9">
                <p class="text-primary mb-0"><%= customer.location %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Drinks Ordered</p>
              </div>
              <div class="col-sm-9">
                <p class="text-primary mb-0"><%= customer.drinksOrdered %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Amount Spent</p>
              </div>
              <div class="col-sm-9">
                <p class="text-primary mb-0"><%= customer.amountSpent %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Is a Member?</p>
              </div>
              <div class="col-sm-9">
                <p class="text-primary mb-0"><%= customer.member %></p>
              </div>
            </div>
            <hr>
            </div>
          </div>
        </div>
    </div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Delete Customer
</button> -->
<a class="btn btn-primary" href="/survey" data-bs-toggle="modal" data-bs-target="#exampleModal" role="button">
Delete Customer
</a>
<a class="btn btn-secondary" href="/survey" role="button">
  Back to survey
</a>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customer Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This operation can not be reversed. Do you sure want to proceed?
      </div>
      <div class="modal-footer">
        <form action=<%= "/survey/delete/"+customer.customerid %> method="get">
            <input type="submit" class="btn btn-danger" value="Delete">
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-danger">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>